<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="../static/styles.css" rel="stylesheet">
        <title>Workout Generator</title>
    </head>
    
    <body>
        <header>    
            <h2>Workout Generator!</h2>
            <small>We randomly choose the exercises for you!</small>
                <br/><br/><br/>
        </header>

        <section>            
            <article>
                <h3>Complete the form</h3>
                <form action="/" method="POST">
                <input class="input_text" id="name" autocomplete="off" autofocus name="name" placeholder="Name (optional)" type="text">
                <br/>
                <input class="input_text" id="number" autocomplete="off" name="weight" placeholder="Weight (kg)" type="number" min="0" max="300">
                <input class="input_text" id="number" autocomplete="off" name="height  " placeholder="Height (cm)" type="number" min="0" max="220">
                
                <h3>Routine</h3>
                <input type="radio" name="routine" value="full body">
                    <label class="input_radio" for="full Body">Full Body</label>
                    <br/>
                <input type="radio" name="routine" value="push/pull">
                    <label class="input_radio" for="push/pull">Push | Pull</label>
                    <br/>
                <input type="radio" name="routine" value="push/pull/legs">
                    <label class="input_radio" for="push/pull/legs">Push | Pull | Legs</label>
            
                
                <br/><br/>
                <h3>Sets and reps per exercise:</h3>
                <select class="input_option" name="sets">
                <option disabled selected value="">Sets</option>
                {% for number in range(1,11) %}
                    <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
                </select>
                
                <select class="input_option name="reps">
                <option  disabled selected value="">Reps</option>
                {% for number in range(1,31) %}
                    <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
                </select>
                
                
                  <!-- ADD THIS LATER
                  <h4>Choose the Muscles</h4>
                 <input type="checkbox" name="abdominals">
                    <label for="abdominals">Abdominals</label>
                <input type="checkbox" name="middle back">
                    <label for="middle back">Middle Back</label>
                <input type="checkbox" name="amstrings">
                    <label for="hamstrings">Hamstrings</label>
                <input type="checkbox" name="abductors">
                    <label for="abductors">Abductors</label>
                <input type="checkbox" name="forearms">
                    <label for="forearms">Forearms</label><br/>
                <input type="checkbox" name="neck">
                    <label for="neck">Neck</label>
                <input type="checkbox" name="quadriceps">
                    <label for="quadriceps">Quadriceps</label>
                <input type="checkbox" name="lats">
                    <label for="lats">Lats</label>
                <input type="checkbox" name="lower back">
                    <label for="lower back">Lower Back</label>
                <input type="checkbox" name="glutes">
                    <label for="glutes">Glutes</label><br/>
                <input type="checkbox" name="chest">
                    <label for="chest">Chest</label>
                <input type="checkbox" name="aaa">
                    <label for="shoulders">Shoulders</label>
                <input type="checkbox" name="shoulders">
                    <label for="calves">Calves</label>
                <input type="checkbox" name="calves">
                    <label for="triceps">Triceps</label>
                <input type="checkbox" name="triceps">
                    <label for="biceps">Biceps</label><br/>
                <input type="checkbox" name="biceps">
                    <label for="adductors">Adductors</label>
                <input type="checkbox" name="adductors">
                    <label for="traps">Traps</label> -->
                
                <br/><br/><br/>
                <input class="input_submit" type="submit" value="Generate Workout">  
                </form>
                
            </article>
            
        
        </section>
        
        <footer>
            <p>Follow this workout at your own risk.</p>
        </footer>
        
    </body>
</html>