{% extends "layout.html" %}

{% block section %}
<article>
<form action="/" method="POST">
        
    <h3>Select a Predefined Routine<br/>
    <small>(You can select one or more)</small></h3>
    
    <input class='predef' type="checkbox" name="Full body" >
        <label for="Full body">Full Body</label>
        
    <input class='predef' type="checkbox" name="Push">
        <label for="Push">Push</label>
        
    <input class='predef' type="checkbox" name="Pull">
        <label for="Pull">Pull</label>
        
    <input class='predef' type="checkbox" name="Legs">
        <label for="Legs">Legs</label>
        
    <br/>
    <select class="input_option" name="sets">
        <option disabled selected value="">Sets</option>
        {% for number in range(1,11) %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
        </select>
        
    <select class="input_option" name="reps">
        <option  disabled selected value="">Reps</option>
        {% for number in range(1,31) %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
        </select>
    <br/>
    <input class="submit" type="submit" name="action" value="Generate Predefined Workout">
</form>
</article>

<br/>
<div class="separator">aaaa</div>
<br/>

<article>
<form action="/" method="POST">

    <h3>Create a Personalized Routine<br/>
    <small>(Select one or more Muscles and the quantity of exercises per muscle)</small></h3>
    
    <label for="routine_name">Routine Name: </label>
    <input type="text" autocomplete="off" name="routine_name">
    <br/>
    
    <table class="select_muscles">      

    {% for i in range(0, 17, 2) %}
    
    <div class="row">
        <tr>
        <div class="column">
        
            <td>
            <input class="select_muscle" type="checkbox" name="{{ muscles_list[i] }}">
            <label for="{{ muscles_list[i] }}">{{ muscles_list[i] }}</label>
            </td>
            
            <td>
            <select class="number_ex" name="number_ex">
                <option disabled selected value="">Quantity</option>
                {% for number in range(1,9) %}
                    <option value ="{{ number }}">{{ number }}</option>
                {% endfor %}
                </select>
            </td>
        </div>
        
        {% if i+1 < 18 %}
            <div class="column">
                <td>
                <input type="checkbox" name="{{ muscles_list[i+1] }}">
                <label for="{{ muscles_list[i+1] }}">{{ muscles_list[i+1] }}</label>
                </td>
                
                <td>
                <select name="number_ex">
                    <option disabled selected value="">Quantity</option>
                    {% for number in range(1,9) %}
                        <option value ="{{ number }}">{{ number }}</option>
                    {% endfor %}
                    </select>
                </td>
            </div>
        {% endif %}
    </div>
    </tr>
    {% endfor %}
    </table>
    
    
    <br/>
    <select class="input_option" name="sets">
        <option disabled selected value="">Sets</option>
        {% for number in range(1,11) %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
    </select>
    
    <select class="input_option" name="reps">
        <option  disabled selected value="">Reps</option>
        {% for number in range(1,31) %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
    </select>
    <br/>
     <input class="submit" type="submit" name="action" value="Generate Personalized Workout">   
    
</form>
</article>


{% endblock %}