<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=0.6, maximum-scale=1, width=device-width">
        <link rel="icon" href="data:,">
        <link href="../static/styles.css" rel="stylesheet">
        <title>Workout Generator</title>
    </head>
    <body>
        <header>
            <a href="../"><h2>Workout Generator</h2></a>
            <small>We select the exercises for you!</small>
        </header>
        <section>
            {% block section %}
            {% endblock %}
        <section>
        <footer>
            <p>Follow this workout at your own risk.</p>
        </footer>
        
    </body>
</html>