{% extends "layout.html" %}

{% block section %}

   {% for day in routine %}
    <table class="workout">
    
        <td>Exercise Name</td>    
        <td>Target Muscle</td>

        
        {% for exercises in day %}
        
        <tr>
            <td><a href="https://www.youtube.com/results?search_query={{ exercises[0] }}"
            target="_blank" rel="noopener noreferrer">{{ exercises[0] }}</a></td>   
            <td>{{ exercises[1] }}</td>

                       
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    
{% endblock %}